@import url("https://fonts.lug.ustc.edu.cn/css?family=Inconsolata|Inconsolata-Bold");
* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}
body:not(.ready) {
  overflow: hidden;
}
body:not(.ready) [data-cloak],
body:not(.ready) .app-nav,
body:not(.ready) > nav {
  display: none;
}
div#app {
  font-size: 30px;
  font-weight: lighter;
  margin: 40vh auto;
  text-align: center;
}
div#app:empty::before {
  content: 'Loading...';
}
.emoji {
  height: 1.2rem;
  vertical-align: middle;
}
.progress {
  background-color: var(--theme-color, #0074d9);
  height: 2px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: width 0.2s, opacity 0.4s;
  width: 0%;
  z-index: 999999;
}
.search a:hover {
  color: var(--theme-color, #0074d9);
}
.search .search-keyword {
  color: var(--theme-color, #0074d9);
  font-style: normal;
  font-weight: bold;
}
html,
body {
  height: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #34495e;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
a[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
kbd {
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle;
}
li input[type='checkbox'] {
  margin: 0 0.2em 0.25em 0;
  vertical-align: middle;
}
.app-nav {
  margin: 25px 60px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10;
/* navbar dropdown */
}
.app-nav.no-badge {
  margin-right: 25px;
}
.app-nav p {
  margin: 0;
}
.app-nav > a {
  margin: 0 1rem;
  padding: 5px 0;
}
.app-nav ul,
.app-nav li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.app-nav a {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}
.app-nav a:hover {
  color: var(--theme-color, #0074d9);
}
.app-nav a.active {
  border-bottom: 2px solid var(--theme-color, #0074d9);
  color: var(--theme-color, #0074d9);
}
.app-nav li {
  display: inline-block;
  margin: 0 1rem;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}
.app-nav li ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  right: -15px;
  text-align: left;
  top: 100%;
  white-space: nowrap;
}
.app-nav li ul li {
  display: block;
  font-size: 14px;
  line-height: 1rem;
  margin: 0;
  margin: 8px 14px;
  white-space: nowrap;
}
.app-nav li ul a {
  display: block;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.app-nav li ul a.active {
  border-bottom: 0;
}
.app-nav li:hover ul {
  display: block;
}
.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}
.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out;
}
.github-corner svg {
  color: #fff;
  fill: var(--theme-color, #0074d9);
  height: 80px;
  width: 80px;
}
main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0;
}
main.hidden {
  display: none;
}
.anchor {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}
.anchor span {
  color: #34495e;
}
.anchor:hover {
  text-decoration: underline;
}
.sidebar {
  border-right: 1px solid rgba(0,0,0,0.07);
  overflow-x: auto;
  overflow-y: auto;
  padding: 40px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 250ms ease-out;
  width: 32rem;
  z-index: 20;
}
.sidebar > h1 {
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.sidebar > h1 a {
  color: inherit;
  text-decoration: none;
}
.sidebar > h1 .app-nav {
  display: block;
  position: static;
}
.sidebar .sidebar-nav {
  line-height: 2em;
  padding-bottom: 40px;
}
.sidebar li.collapse .app-sub-sidebar {
  display: none;
}
.sidebar ul {
  margin: 0 0 0 15px;
  padding: 0;
}
.sidebar li > p {
  font-weight: 700;
  margin: 0;
}
.sidebar ul,
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  border-bottom: none;
  display: block;
}
.sidebar ul li ul {
  padding-left: 20px;
}
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}
.sidebar:hover::-webkit-scrollbar-thumb {
  background: rgba(136,136,136,0.4);
}
.sidebar:hover::-webkit-scrollbar-track {
  background: rgba(136,136,136,0.1);
}
.sidebar-toggle {
  background-color: transparent;
  background-color: rgba(255,255,255,0.8);
  border: 0;
  outline: none;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: opacity 0.3s;
  width: 16rem;
  z-index: 30;
  cursor: pointer;
}
.sidebar-toggle:hover .sidebar-toggle-button {
  opacity: 0.4;
}
.sidebar-toggle span {
  background-color: var(--theme-color, #0074d9);
  display: block;
  margin-bottom: 4px;
  width: 16px;
  height: 2px;
}
body.sticky .sidebar,
body.sticky .sidebar-toggle {
  position: fixed;
}
.content {
  padding-top: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 32rem;
  transition: left 250ms ease;
}
.markdown-section h1 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h1::before {
  content: "1>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h2 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h2::before {
  content: "2>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h3 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h3::before {
  content: "3>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h4 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h4::before {
  content: "4>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h5 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h5::before {
  content: "5>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h6 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h6::before {
  content: "6>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h7 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h7::before {
  content: "7>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h8 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h8::before {
  content: "8>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h9 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h9::before {
  content: "9>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h10 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h10::before {
  content: "10>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h11 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h11::before {
  content: "11>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h12 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h12::before {
  content: "12>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h13 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h13::before {
  content: "13>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h14 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h14::before {
  content: "14>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h15 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h15::before {
  content: "15>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h16 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h16::before {
  content: "16>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h17 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h17::before {
  content: "17>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h18 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h18::before {
  content: "18>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h19 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h19::before {
  content: "19>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h20 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h20::before {
  content: "20>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h21 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h21::before {
  content: "21>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h22 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h22::before {
  content: "22>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h23 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h23::before {
  content: "23>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h24 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h24::before {
  content: "24>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h25 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h25::before {
  content: "25>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h26 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h26::before {
  content: "26>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h27 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h27::before {
  content: "27>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h28 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h28::before {
  content: "28>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h29 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h29::before {
  content: "29>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h30 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h30::before {
  content: "30>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h31 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h31::before {
  content: "31>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h32 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h32::before {
  content: "32>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h33 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h33::before {
  content: "33>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h34 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h34::before {
  content: "34>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h35 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h35::before {
  content: "35>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h36 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h36::before {
  content: "36>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h37 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h37::before {
  content: "37>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h38 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h38::before {
  content: "38>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h39 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h39::before {
  content: "39>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h40 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h40::before {
  content: "40>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h41 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h41::before {
  content: "41>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h42 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h42::before {
  content: "42>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h43 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h43::before {
  content: "43>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h44 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h44::before {
  content: "44>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h45 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h45::before {
  content: "45>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h46 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h46::before {
  content: "46>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h47 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h47::before {
  content: "47>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h48 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h48::before {
  content: "48>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h49 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h49::before {
  content: "49>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h50 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h50::before {
  content: "50>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h51 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h51::before {
  content: "51>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h52 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h52::before {
  content: "52>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h53 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h53::before {
  content: "53>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h54 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h54::before {
  content: "54>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h55 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h55::before {
  content: "55>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h56 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h56::before {
  content: "56>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h57 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h57::before {
  content: "57>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h58 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h58::before {
  content: "58>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h59 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h59::before {
  content: "59>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h60 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h60::before {
  content: "60>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h61 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h61::before {
  content: "61>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h62 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h62::before {
  content: "62>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h63 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h63::before {
  content: "63>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h64 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h64::before {
  content: "64>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h65 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h65::before {
  content: "65>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h66 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h66::before {
  content: "66>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h67 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h67::before {
  content: "67>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h68 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h68::before {
  content: "68>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h69 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h69::before {
  content: "69>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h70 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h70::before {
  content: "70>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h71 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h71::before {
  content: "71>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h72 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h72::before {
  content: "72>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h73 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h73::before {
  content: "73>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h74 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h74::before {
  content: "74>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h75 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h75::before {
  content: "75>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h76 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h76::before {
  content: "76>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h77 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h77::before {
  content: "77>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h78 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h78::before {
  content: "78>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h79 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h79::before {
  content: "79>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h80 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h80::before {
  content: "80>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h81 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h81::before {
  content: "81>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h82 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h82::before {
  content: "82>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h83 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h83::before {
  content: "83>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h84 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h84::before {
  content: "84>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h85 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h85::before {
  content: "85>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h86 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h86::before {
  content: "86>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h87 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h87::before {
  content: "87>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h88 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h88::before {
  content: "88>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h89 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h89::before {
  content: "89>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h90 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h90::before {
  content: "90>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h91 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h91::before {
  content: "91>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h92 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h92::before {
  content: "92>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h93 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h93::before {
  content: "93>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h94 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h94::before {
  content: "94>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h95 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h95::before {
  content: "95>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h96 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h96::before {
  content: "96>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h97 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h97::before {
  content: "97>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h98 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h98::before {
  content: "98>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h99 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h99::before {
  content: "99>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h100 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h100::before {
  content: "100>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h101 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h101::before {
  content: "101>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h102 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h102::before {
  content: "102>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h103 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h103::before {
  content: "103>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h104 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h104::before {
  content: "104>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h105 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h105::before {
  content: "105>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h106 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h106::before {
  content: "106>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h107 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h107::before {
  content: "107>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.markdown-section h108 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h108::before {
  content: "108>";
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
.lv1::marker {
  content: "1>";
  font-size: 0.6rem;
}
.lv2::marker {
  content: "2>";
  font-size: 0.6rem;
}
.lv3::marker {
  content: "3>";
  font-size: 0.6rem;
}
.lv4::marker {
  content: "4>";
  font-size: 0.6rem;
}
.lv5::marker {
  content: "5>";
  font-size: 0.6rem;
}
.lv6::marker {
  content: "6>";
  font-size: 0.6rem;
}
.lv7::marker {
  content: "7>";
  font-size: 0.6rem;
}
.lv8::marker {
  content: "8>";
  font-size: 0.6rem;
}
.lv9::marker {
  content: "9>";
  font-size: 0.6rem;
}
.lv10::marker {
  content: "10>";
  font-size: 0.6rem;
}
.lv11::marker {
  content: "11>";
  font-size: 0.6rem;
}
.lv12::marker {
  content: "12>";
  font-size: 0.6rem;
}
.lv13::marker {
  content: "13>";
  font-size: 0.6rem;
}
.lv14::marker {
  content: "14>";
  font-size: 0.6rem;
}
.lv15::marker {
  content: "15>";
  font-size: 0.6rem;
}
.lv16::marker {
  content: "16>";
  font-size: 0.6rem;
}
.lv17::marker {
  content: "17>";
  font-size: 0.6rem;
}
.lv18::marker {
  content: "18>";
  font-size: 0.6rem;
}
.lv19::marker {
  content: "19>";
  font-size: 0.6rem;
}
.lv20::marker {
  content: "20>";
  font-size: 0.6rem;
}
.lv21::marker {
  content: "21>";
  font-size: 0.6rem;
}
.lv22::marker {
  content: "22>";
  font-size: 0.6rem;
}
.lv23::marker {
  content: "23>";
  font-size: 0.6rem;
}
.lv24::marker {
  content: "24>";
  font-size: 0.6rem;
}
.lv25::marker {
  content: "25>";
  font-size: 0.6rem;
}
.lv26::marker {
  content: "26>";
  font-size: 0.6rem;
}
.lv27::marker {
  content: "27>";
  font-size: 0.6rem;
}
.lv28::marker {
  content: "28>";
  font-size: 0.6rem;
}
.lv29::marker {
  content: "29>";
  font-size: 0.6rem;
}
.lv30::marker {
  content: "30>";
  font-size: 0.6rem;
}
.lv31::marker {
  content: "31>";
  font-size: 0.6rem;
}
.lv32::marker {
  content: "32>";
  font-size: 0.6rem;
}
.lv33::marker {
  content: "33>";
  font-size: 0.6rem;
}
.lv34::marker {
  content: "34>";
  font-size: 0.6rem;
}
.lv35::marker {
  content: "35>";
  font-size: 0.6rem;
}
.lv36::marker {
  content: "36>";
  font-size: 0.6rem;
}
.lv37::marker {
  content: "37>";
  font-size: 0.6rem;
}
.lv38::marker {
  content: "38>";
  font-size: 0.6rem;
}
.lv39::marker {
  content: "39>";
  font-size: 0.6rem;
}
.lv40::marker {
  content: "40>";
  font-size: 0.6rem;
}
.lv41::marker {
  content: "41>";
  font-size: 0.6rem;
}
.lv42::marker {
  content: "42>";
  font-size: 0.6rem;
}
.lv43::marker {
  content: "43>";
  font-size: 0.6rem;
}
.lv44::marker {
  content: "44>";
  font-size: 0.6rem;
}
.lv45::marker {
  content: "45>";
  font-size: 0.6rem;
}
.lv46::marker {
  content: "46>";
  font-size: 0.6rem;
}
.lv47::marker {
  content: "47>";
  font-size: 0.6rem;
}
.lv48::marker {
  content: "48>";
  font-size: 0.6rem;
}
.lv49::marker {
  content: "49>";
  font-size: 0.6rem;
}
.lv50::marker {
  content: "50>";
  font-size: 0.6rem;
}
.lv51::marker {
  content: "51>";
  font-size: 0.6rem;
}
.lv52::marker {
  content: "52>";
  font-size: 0.6rem;
}
.lv53::marker {
  content: "53>";
  font-size: 0.6rem;
}
.lv54::marker {
  content: "54>";
  font-size: 0.6rem;
}
.lv55::marker {
  content: "55>";
  font-size: 0.6rem;
}
.lv56::marker {
  content: "56>";
  font-size: 0.6rem;
}
.lv57::marker {
  content: "57>";
  font-size: 0.6rem;
}
.lv58::marker {
  content: "58>";
  font-size: 0.6rem;
}
.lv59::marker {
  content: "59>";
  font-size: 0.6rem;
}
.lv60::marker {
  content: "60>";
  font-size: 0.6rem;
}
.lv61::marker {
  content: "61>";
  font-size: 0.6rem;
}
.lv62::marker {
  content: "62>";
  font-size: 0.6rem;
}
.lv63::marker {
  content: "63>";
  font-size: 0.6rem;
}
.lv64::marker {
  content: "64>";
  font-size: 0.6rem;
}
.lv65::marker {
  content: "65>";
  font-size: 0.6rem;
}
.lv66::marker {
  content: "66>";
  font-size: 0.6rem;
}
.lv67::marker {
  content: "67>";
  font-size: 0.6rem;
}
.lv68::marker {
  content: "68>";
  font-size: 0.6rem;
}
.lv69::marker {
  content: "69>";
  font-size: 0.6rem;
}
.lv70::marker {
  content: "70>";
  font-size: 0.6rem;
}
.lv71::marker {
  content: "71>";
  font-size: 0.6rem;
}
.lv72::marker {
  content: "72>";
  font-size: 0.6rem;
}
.lv73::marker {
  content: "73>";
  font-size: 0.6rem;
}
.lv74::marker {
  content: "74>";
  font-size: 0.6rem;
}
.lv75::marker {
  content: "75>";
  font-size: 0.6rem;
}
.lv76::marker {
  content: "76>";
  font-size: 0.6rem;
}
.lv77::marker {
  content: "77>";
  font-size: 0.6rem;
}
.lv78::marker {
  content: "78>";
  font-size: 0.6rem;
}
.lv79::marker {
  content: "79>";
  font-size: 0.6rem;
}
.lv80::marker {
  content: "80>";
  font-size: 0.6rem;
}
.lv81::marker {
  content: "81>";
  font-size: 0.6rem;
}
.lv82::marker {
  content: "82>";
  font-size: 0.6rem;
}
.lv83::marker {
  content: "83>";
  font-size: 0.6rem;
}
.lv84::marker {
  content: "84>";
  font-size: 0.6rem;
}
.lv85::marker {
  content: "85>";
  font-size: 0.6rem;
}
.lv86::marker {
  content: "86>";
  font-size: 0.6rem;
}
.lv87::marker {
  content: "87>";
  font-size: 0.6rem;
}
.lv88::marker {
  content: "88>";
  font-size: 0.6rem;
}
.lv89::marker {
  content: "89>";
  font-size: 0.6rem;
}
.lv90::marker {
  content: "90>";
  font-size: 0.6rem;
}
.lv91::marker {
  content: "91>";
  font-size: 0.6rem;
}
.lv92::marker {
  content: "92>";
  font-size: 0.6rem;
}
.lv93::marker {
  content: "93>";
  font-size: 0.6rem;
}
.lv94::marker {
  content: "94>";
  font-size: 0.6rem;
}
.lv95::marker {
  content: "95>";
  font-size: 0.6rem;
}
.lv96::marker {
  content: "96>";
  font-size: 0.6rem;
}
.lv97::marker {
  content: "97>";
  font-size: 0.6rem;
}
.lv98::marker {
  content: "98>";
  font-size: 0.6rem;
}
.lv99::marker {
  content: "99>";
  font-size: 0.6rem;
}
.lv100::marker {
  content: "100>";
  font-size: 0.6rem;
}
.lv101::marker {
  content: "101>";
  font-size: 0.6rem;
}
.lv102::marker {
  content: "102>";
  font-size: 0.6rem;
}
.lv103::marker {
  content: "103>";
  font-size: 0.6rem;
}
.lv104::marker {
  content: "104>";
  font-size: 0.6rem;
}
.lv105::marker {
  content: "105>";
  font-size: 0.6rem;
}
.lv106::marker {
  content: "106>";
  font-size: 0.6rem;
}
.lv107::marker {
  content: "107>";
  font-size: 0.6rem;
}
.lv108::marker {
  content: "108>";
  font-size: 0.6rem;
}
.markdown-section {
  margin: 0 auto;
  max-width: 80%;
  padding: 30px 15px 40px 15px;
  position: relative;
}
.markdown-section > * {
  box-sizing: border-box;
  font-size: inherit;
}
.markdown-section > :first-child {
  margin-top: 0 !important;
}
.markdown-section hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
}
.markdown-section iframe {
  border: 1px solid #eee;
/* fix horizontal overflow on iOS Safari */
  width: 1px;
  min-width: 100%;
}
.markdown-section table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 1rem;
  overflow: auto;
  width: 100%;
}
.markdown-section th {
  border: 1px solid #ddd;
  font-weight: bold;
  padding: 6px 13px;
}
.markdown-section td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}
.markdown-section tr {
  border-top: 1px solid #ccc;
}
.markdown-section tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-section p.tip {
  background-color: #f8f8f8;
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
}
.markdown-section p.tip:before {
  background-color: #f66;
  border-radius: 100%;
  color: #fff;
  content: '!';
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px;
}
.markdown-section p.tip code {
  background-color: #efefef;
}
.markdown-section p.tip em {
  color: #34495e;
}
.markdown-section p.warn {
  background: rgba(0,116,217,0.1);
  border-radius: 2px;
  padding: 1rem;
}
.markdown-section ul.task-list > li {
  list-style-type: none;
}
body.close .sidebar {
  transform: translateX(-32rem);
}
body.close .sidebar-toggle {
  width: auto;
}
body.close .content {
  left: 0;
}
@media print {
  .github-corner,
  .sidebar-toggle,
  .sidebar,
  .app-nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .github-corner,
  .sidebar-toggle,
  .sidebar {
    position: fixed;
  }
  .app-nav {
    margin-top: 16px;
  }
  .app-nav li ul {
    top: 30px;
  }
  main {
    height: auto;
    overflow-x: hidden;
  }
  .sidebar {
    left: -32rem;
    transition: transform 250ms ease-out;
  }
  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 20px;
    transition: transform 250ms ease;
  }
  .app-nav,
  .github-corner {
    transition: transform 250ms ease-out;
  }
  .sidebar-toggle {
    background-color: transparent;
    width: auto;
    padding: 30px 30px 10px 10px;
  }
  body.close .sidebar {
    transform: translateX(32rem);
  }
  body.close .sidebar-toggle {
    background-color: rgba(255,255,255,0.8);
    transition: 1s background-color;
    width: 16rem;
    padding: 10px;
  }
  body.close .content {
    transform: translateX(32rem);
  }
  body.close .app-nav,
  body.close .github-corner {
    display: none;
  }
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
            animation: none;
  }
  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
  }
}
@-webkit-keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
section.cover {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: none;
}
section.cover.show {
  display: flex;
}
section.cover.has-mask .mask {
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
section.cover .cover-main {
  flex: 1;
  margin: -20px 16px 0;
  text-align: center;
  z-index: 1;
}
section.cover a {
  color: inherit;
  text-decoration: none;
}
section.cover a:hover {
  text-decoration: none;
}
section.cover p {
  line-height: 1.5rem;
  margin: 1em 0;
}
section.cover h1 {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0.625rem 0 2.5rem;
  position: relative;
  text-align: center;
}
section.cover h1 a {
  display: block;
}
section.cover h1 small {
  bottom: -0.4375rem;
  font-size: 1rem;
  position: absolute;
}
section.cover blockquote {
  font-size: 1.5rem;
  text-align: center;
}
section.cover ul {
  line-height: 1.8;
  list-style-type: none;
  margin: 1em auto;
  max-width: 500px;
  padding: 0;
}
section.cover .cover-main > p:last-child a {
  border-color: var(--theme-color, #0074d9);
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--theme-color, #0074d9);
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
section.cover .cover-main > p:last-child a:last-child {
  background-color: var(--theme-color, #0074d9);
  color: #fff;
}
section.cover .cover-main > p:last-child a:last-child:hover {
  color: inherit;
  opacity: 0.8;
}
section.cover .cover-main > p:last-child a:hover {
  color: inherit;
}
section.cover blockquote > p > a {
  border-bottom: 2px solid var(--theme-color, #0074d9);
  transition: color 0.3s;
}
section.cover blockquote > p > a:hover {
  color: var(--theme-color, #0074d9);
}
/* sidebar */
.sidebar {
  color: #364149;
  background-color: #fff;
}
.sidebar a {
  color: #666;
  text-decoration: none;
}
.sidebar li {
  list-style: none;
  margin: 0;
}
.sidebar ul li ul {
  padding: 0;
}
.sidebar ul li a {
  color: #505d6b;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
}
.sidebar li.active {
  background-color: #eee;
}
.sidebar li.active a {
  border-bottom: 2px solid;
  color: #333;
  display: inline-block;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section strong {
  color: #333;
  font-weight: 400;
}
.markdown-section strong {
  color: #333;
  font-weight: 600;
}
.markdown-section a {
  color: var(--theme-color, #0074d9);
}
.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  line-height: 1.6rem;
  margin: 0 0 1em 0;
  word-spacing: 0.05rem;
}
.markdown-section h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 1rem;
}
.markdown-section h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  padding: 1rem 0 0 0;
}
.markdown-section h3 {
  font-size: 1.5rem;
  margin: 52px 0 1.2rem;
}
.markdown-section figure,
.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  margin: 1.2em 0;
}
.markdown-section ul,
.markdown-section ol {
  padding-left: 1.5rem;
}
.markdown-section li {
  line-height: 1.5;
  margin: 0;
}
.markdown-section blockquote {
  border-left: 4px solid var(--theme-color, #0074d9);
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}
.markdown-section blockquote p {
  font-weight: 600;
  margin-left: 0;
}
.markdown-section iframe {
  margin: 1em 0;
}
.markdown-section em {
  color: #7f8c8d;
}
.markdown-section code {
  background-color: #f9f9f9;
  border-radius: 3px;
  font-family: Inconsolata;
  padding: 0.2em 0.4rem;
  white-space: nowrap;
}
.markdown-section pre {
  background-color: #f9f9f9;
  border-left: 2px solid #eee;
  font-family: Inconsolata;
  font-size: 16px;
  margin: 0 0 1em 0;
  padding: 8px;
  padding: 0 10px 12px 0;
  overflow: auto;
  word-wrap: normal;
  position: relative;
}
/* code highlight */
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #93a1a1 /* base1 */;
}
.token.punctuation {
  color: #586e75 /* base01 */;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #268bd2 /* blue */;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: #2aa198 /* cyan */;
}
.token.entity {
  color: #657b83 /* base00 */;
  background: #eee8d5 /* base2 */;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #a11 /* green */;
}
.token.function {
  color: #b58900 /* yellow */;
}
.token.regex,
.token.important,
.token.variable {
  color: #cb4b16 /* orange */;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.markdown-section pre > code {
  background-color: #f8f8f8;
  border-radius: 2px;
  display: block;
  font-family: Inconsolata;
  line-height: 1.1rem;
  max-width: inherit;
  overflow: inherit;
  padding: 20px 0.8em 20px;
  position: relative;
  white-space: inherit;
}
.markdown-section code::after,
.markdown-section code::before {
  letter-spacing: 0.05rem;
}
code .token {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto;
}
