* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}
body:not(.ready) {
  overflow: hidden;
}
body:not(.ready) [data-cloak],
body:not(.ready) .app-nav,
body:not(.ready) > nav {
  display: none;
}
div#app {
  font-size: 30px;
  font-weight: lighter;
  margin: 40vh auto;
  text-align: center;
}
div#app:empty::before {
  content: 'Loading...';
}
.emoji {
  height: 1.2rem;
  vertical-align: middle;
}
.progress {
  background-color: var(--theme-color, #000);
  height: 2px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: width 0.2s, opacity 0.4s;
  width: 0%;
  z-index: 999999;
}
.search a:hover {
  color: var(--theme-color, #000);
}
.search .search-keyword {
  color: var(--theme-color, #000);
  font-style: normal;
  font-weight: bold;
}
html,
body {
  height: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
a[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
kbd {
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle;
}
li input[type='checkbox'] {
  margin: 0 0.2em 0.25em 0;
  vertical-align: middle;
}
.app-nav {
  margin: 25px 60px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10;
/* navbar dropdown */
}
.app-nav.no-badge {
  margin-right: 25px;
}
.app-nav p {
  margin: 0;
}
.app-nav > a {
  margin: 0 1rem;
  padding: 5px 0;
}
.app-nav ul,
.app-nav li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.app-nav a {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}
.app-nav a:hover {
  color: var(--theme-color, #000);
}
.app-nav a.active {
  border-bottom: 2px solid var(--theme-color, #000);
  color: var(--theme-color, #000);
}
.app-nav li {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}
.app-nav li ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  right: -15px;
  text-align: left;
  top: 100%;
  white-space: nowrap;
}
.app-nav li ul li {
  display: block;
  font-size: 14px;
  line-height: 1rem;
  margin: 0;
  margin: 8px 14px;
  white-space: nowrap;
}
.app-nav li ul a {
  display: block;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.app-nav li ul a.active {
  border-bottom: 0;
}
.app-nav li:hover ul {
  display: block;
}
.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}
.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out;
}
.github-corner svg {
  color: #fff;
  fill: var(--theme-color, #000);
  height: 80px;
  width: 80px;
}
main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0;
}
main.hidden {
  display: none;
}
.anchor {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}
.anchor span {
  color: #000;
}
.anchor:hover {
  text-decoration: underline;
}
.sidebar {
  border-right: 1px solid rgba(0,0,0,0.07);
  overflow-x: auto;
  overflow-y: auto;
  padding: 40px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 250ms ease-out;
  width: 480px;
  z-index: 20;
}
.sidebar > h1 {
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.sidebar > h1 a {
  color: inherit;
  text-decoration: none;
}
.sidebar > h1 .app-nav {
  display: block;
  position: static;
}
.sidebar .sidebar-nav {
  line-height: 2em;
  padding-bottom: 40px;
}
.sidebar li.collapse .app-sub-sidebar {
  display: none;
}
.sidebar ul {
  margin: 0 0 0 15px;
  padding: 0;
}
.sidebar li > p {
  font-weight: 700;
  margin: 0;
}
.sidebar ul,
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  border-bottom: none;
  display: block;
}
.sidebar ul li ul {
  padding-left: 20px;
}
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}
.sidebar:hover::-webkit-scrollbar-thumb {
  background: rgba(136,136,136,0.4);
}
.sidebar:hover::-webkit-scrollbar-track {
  background: rgba(136,136,136,0.1);
}
.sidebar-toggle {
  background-color: transparent;
  background-color: rgba(255,255,255,0.8);
  border: 0;
  outline: none;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: opacity 0.3s;
  width: 464px;
  z-index: 30;
  cursor: pointer;
}
.sidebar-toggle:hover .sidebar-toggle-button {
  opacity: 0.4;
}
.sidebar-toggle span {
  background-color: var(--theme-color, #000);
  display: block;
  margin-bottom: 4px;
  width: 16px;
  height: 2px;
}
body.sticky .sidebar,
body.sticky .sidebar-toggle {
  position: fixed;
}
.content {
  padding-top: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 480px;
  transition: left 250ms ease;
}
.markdown-section h1 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h1::before {
  content: "H1";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h2 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h2::before {
  content: "H2";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h3 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h3::before {
  content: "H3";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h4 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h4::before {
  content: "H4";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h5 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h5::before {
  content: "H5";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h6 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h6::before {
  content: "H6";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h7 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h7::before {
  content: "H7";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h8 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h8::before {
  content: "H8";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h9 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h9::before {
  content: "H9";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h10 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h10::before {
  content: "H10";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h11 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h11::before {
  content: "H11";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h12 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h12::before {
  content: "H12";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h13 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h13::before {
  content: "H13";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h14 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h14::before {
  content: "H14";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h15 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h15::before {
  content: "H15";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h16 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h16::before {
  content: "H16";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h17 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h17::before {
  content: "H17";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h18 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h18::before {
  content: "H18";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h19 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h19::before {
  content: "H19";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h20 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h20::before {
  content: "H20";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h21 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h21::before {
  content: "H21";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h22 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h22::before {
  content: "H22";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h23 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h23::before {
  content: "H23";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h24 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h24::before {
  content: "H24";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h25 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h25::before {
  content: "H25";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h26 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h26::before {
  content: "H26";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h27 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h27::before {
  content: "H27";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h28 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h28::before {
  content: "H28";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h29 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h29::before {
  content: "H29";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h30 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h30::before {
  content: "H30";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h31 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h31::before {
  content: "H31";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h32 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h32::before {
  content: "H32";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h33 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h33::before {
  content: "H33";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h34 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h34::before {
  content: "H34";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h35 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h35::before {
  content: "H35";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h36 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h36::before {
  content: "H36";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h37 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h37::before {
  content: "H37";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h38 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h38::before {
  content: "H38";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h39 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h39::before {
  content: "H39";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h40 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h40::before {
  content: "H40";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h41 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h41::before {
  content: "H41";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h42 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h42::before {
  content: "H42";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h43 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h43::before {
  content: "H43";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h44 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h44::before {
  content: "H44";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h45 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h45::before {
  content: "H45";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h46 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h46::before {
  content: "H46";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h47 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h47::before {
  content: "H47";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h48 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h48::before {
  content: "H48";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h49 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h49::before {
  content: "H49";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h50 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h50::before {
  content: "H50";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h51 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h51::before {
  content: "H51";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h52 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h52::before {
  content: "H52";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h53 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h53::before {
  content: "H53";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h54 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h54::before {
  content: "H54";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h55 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h55::before {
  content: "H55";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h56 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h56::before {
  content: "H56";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h57 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h57::before {
  content: "H57";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h58 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h58::before {
  content: "H58";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h59 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h59::before {
  content: "H59";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h60 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h60::before {
  content: "H60";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h61 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h61::before {
  content: "H61";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h62 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h62::before {
  content: "H62";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h63 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h63::before {
  content: "H63";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h64 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h64::before {
  content: "H64";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h65 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h65::before {
  content: "H65";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h66 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h66::before {
  content: "H66";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h67 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h67::before {
  content: "H67";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h68 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h68::before {
  content: "H68";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h69 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h69::before {
  content: "H69";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h70 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h70::before {
  content: "H70";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h71 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h71::before {
  content: "H71";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h72 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h72::before {
  content: "H72";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h73 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h73::before {
  content: "H73";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h74 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h74::before {
  content: "H74";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h75 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h75::before {
  content: "H75";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h76 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h76::before {
  content: "H76";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h77 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h77::before {
  content: "H77";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h78 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h78::before {
  content: "H78";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h79 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h79::before {
  content: "H79";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h80 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h80::before {
  content: "H80";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h81 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h81::before {
  content: "H81";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h82 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h82::before {
  content: "H82";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h83 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h83::before {
  content: "H83";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h84 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h84::before {
  content: "H84";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h85 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h85::before {
  content: "H85";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h86 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h86::before {
  content: "H86";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h87 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h87::before {
  content: "H87";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h88 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h88::before {
  content: "H88";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h89 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h89::before {
  content: "H89";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h90 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h90::before {
  content: "H90";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h91 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h91::before {
  content: "H91";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h92 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h92::before {
  content: "H92";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h93 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h93::before {
  content: "H93";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h94 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h94::before {
  content: "H94";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h95 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h95::before {
  content: "H95";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h96 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h96::before {
  content: "H96";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h97 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h97::before {
  content: "H97";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h98 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h98::before {
  content: "H98";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h99 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h99::before {
  content: "H99";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h100 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h100::before {
  content: "H100";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h101 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h101::before {
  content: "H101";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h102 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h102::before {
  content: "H102";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h103 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h103::before {
  content: "H103";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h104 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h104::before {
  content: "H104";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h105 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h105::before {
  content: "H105";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h106 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h106::before {
  content: "H106";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h107 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h107::before {
  content: "H107";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.markdown-section h108 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.markdown-section h108::before {
  content: "H108";
  font-size: 0.7rem;
  padding: 0 0.3rem;
}
.lv1::before {
  content: "H1";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv2::before {
  content: "H2";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv3::before {
  content: "H3";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv4::before {
  content: "H4";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv5::before {
  content: "H5";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv6::before {
  content: "H6";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv7::before {
  content: "H7";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv8::before {
  content: "H8";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv9::before {
  content: "H9";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv10::before {
  content: "H10";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv11::before {
  content: "H11";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv12::before {
  content: "H12";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv13::before {
  content: "H13";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv14::before {
  content: "H14";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv15::before {
  content: "H15";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv16::before {
  content: "H16";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv17::before {
  content: "H17";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv18::before {
  content: "H18";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv19::before {
  content: "H19";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv20::before {
  content: "H20";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv21::before {
  content: "H21";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv22::before {
  content: "H22";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv23::before {
  content: "H23";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv24::before {
  content: "H24";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv25::before {
  content: "H25";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv26::before {
  content: "H26";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv27::before {
  content: "H27";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv28::before {
  content: "H28";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv29::before {
  content: "H29";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv30::before {
  content: "H30";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv31::before {
  content: "H31";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv32::before {
  content: "H32";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv33::before {
  content: "H33";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv34::before {
  content: "H34";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv35::before {
  content: "H35";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv36::before {
  content: "H36";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv37::before {
  content: "H37";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv38::before {
  content: "H38";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv39::before {
  content: "H39";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv40::before {
  content: "H40";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv41::before {
  content: "H41";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv42::before {
  content: "H42";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv43::before {
  content: "H43";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv44::before {
  content: "H44";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv45::before {
  content: "H45";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv46::before {
  content: "H46";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv47::before {
  content: "H47";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv48::before {
  content: "H48";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv49::before {
  content: "H49";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv50::before {
  content: "H50";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv51::before {
  content: "H51";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv52::before {
  content: "H52";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv53::before {
  content: "H53";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv54::before {
  content: "H54";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv55::before {
  content: "H55";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv56::before {
  content: "H56";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv57::before {
  content: "H57";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv58::before {
  content: "H58";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv59::before {
  content: "H59";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv60::before {
  content: "H60";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv61::before {
  content: "H61";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv62::before {
  content: "H62";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv63::before {
  content: "H63";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv64::before {
  content: "H64";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv65::before {
  content: "H65";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv66::before {
  content: "H66";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv67::before {
  content: "H67";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv68::before {
  content: "H68";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv69::before {
  content: "H69";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv70::before {
  content: "H70";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv71::before {
  content: "H71";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv72::before {
  content: "H72";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv73::before {
  content: "H73";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv74::before {
  content: "H74";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv75::before {
  content: "H75";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv76::before {
  content: "H76";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv77::before {
  content: "H77";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv78::before {
  content: "H78";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv79::before {
  content: "H79";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv80::before {
  content: "H80";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv81::before {
  content: "H81";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv82::before {
  content: "H82";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv83::before {
  content: "H83";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv84::before {
  content: "H84";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv85::before {
  content: "H85";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv86::before {
  content: "H86";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv87::before {
  content: "H87";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv88::before {
  content: "H88";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv89::before {
  content: "H89";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv90::before {
  content: "H90";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv91::before {
  content: "H91";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv92::before {
  content: "H92";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv93::before {
  content: "H93";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv94::before {
  content: "H94";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv95::before {
  content: "H95";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv96::before {
  content: "H96";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv97::before {
  content: "H97";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv98::before {
  content: "H98";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv99::before {
  content: "H99";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv100::before {
  content: "H100";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv101::before {
  content: "H101";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv102::before {
  content: "H102";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv103::before {
  content: "H103";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv104::before {
  content: "H104";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv105::before {
  content: "H105";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv106::before {
  content: "H106";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv107::before {
  content: "H107";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.lv108::before {
  content: "H108";
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
.markdown-section {
  margin: 0 auto;
  max-width: 95%;
  padding: 30px 15px 40px 15px;
  position: relative;
}
.markdown-section > * {
  box-sizing: border-box;
  font-size: inherit;
}
.markdown-section > :first-child {
  margin-top: 0 !important;
}
.markdown-section hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
}
.markdown-section iframe {
  border: 1px solid #eee;
/* fix horizontal overflow on iOS Safari */
  width: 1px;
  min-width: 100%;
}
.markdown-section table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 1rem;
  overflow: auto;
  width: 100%;
}
.markdown-section th {
  border: 1px solid #ddd;
  font-weight: bold;
  padding: 6px 13px;
}
.markdown-section td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}
.markdown-section tr {
  border-top: 1px solid #ccc;
}
.markdown-section tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-section p.tip {
  background-color: #f8f8f8;
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
}
.markdown-section p.tip:before {
  background-color: #f66;
  border-radius: 100%;
  color: #fff;
  content: '!';
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px;
}
.markdown-section p.tip code {
  background-color: #efefef;
}
.markdown-section p.tip em {
  color: #000;
}
.markdown-section p.warn {
  background: rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 1rem;
}
.markdown-section ul.task-list > li {
  list-style-type: none;
}
body.close .sidebar {
  transform: translateX(-480px);
}
body.close .sidebar-toggle {
  width: auto;
}
body.close .content {
  left: 0;
}
@media print {
  .github-corner,
  .sidebar-toggle,
  .sidebar,
  .app-nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .github-corner,
  .sidebar-toggle,
  .sidebar {
    position: fixed;
  }
  .app-nav {
    margin-top: 16px;
  }
  .app-nav li ul {
    top: 30px;
  }
  main {
    height: auto;
    overflow-x: hidden;
  }
  .sidebar {
    left: -480px;
    transition: transform 250ms ease-out;
  }
  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 20px;
    transition: transform 250ms ease;
  }
  .app-nav,
  .github-corner {
    transition: transform 250ms ease-out;
  }
  .sidebar-toggle {
    background-color: transparent;
    width: auto;
    padding: 30px 30px 10px 10px;
  }
  body.close .sidebar {
    transform: translateX(480px);
  }
  body.close .sidebar-toggle {
    background-color: rgba(255,255,255,0.8);
    transition: 1s background-color;
    width: 464px;
    padding: 10px;
  }
  body.close .content {
    transform: translateX(480px);
  }
  body.close .app-nav,
  body.close .github-corner {
    display: none;
  }
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
            animation: none;
  }
  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
  }
}
@-webkit-keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
section.cover {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: none;
}
section.cover.show {
  display: flex;
}
section.cover.has-mask .mask {
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
section.cover .cover-main {
  flex: 1;
  margin: -20px 16px 0;
  text-align: center;
  z-index: 1;
}
section.cover a {
  color: inherit;
  text-decoration: none;
}
section.cover a:hover {
  text-decoration: none;
}
section.cover p {
  line-height: 1.5rem;
  margin: 1em 0;
}
section.cover h1 {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0.625rem 0 2.5rem;
  position: relative;
  text-align: center;
}
section.cover h1 a {
  display: block;
}
section.cover h1 small {
  bottom: -0.4375rem;
  font-size: 1rem;
  position: absolute;
}
section.cover blockquote {
  font-size: 1.5rem;
  text-align: center;
}
section.cover ul {
  line-height: 1.8;
  list-style-type: none;
  margin: 1em auto;
  max-width: 500px;
  padding: 0;
}
section.cover .cover-main > p:last-child a {
  border-color: var(--theme-color, #000);
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--theme-color, #000);
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
section.cover .cover-main > p:last-child a:last-child {
  background-color: var(--theme-color, #000);
  color: #fff;
}
section.cover .cover-main > p:last-child a:last-child:hover {
  color: inherit;
  opacity: 0.8;
}
section.cover .cover-main > p:last-child a:hover {
  color: inherit;
}
section.cover blockquote > p > a {
  border-bottom: 2px solid var(--theme-color, #000);
  transition: color 0.3s;
}
section.cover blockquote > p > a:hover {
  color: var(--theme-color, #000);
}
/* sidebar */
.sidebar ul li a {
  text-decoration: none;
  white-space: nowrap;
}
